{# 首页电影图片轮播 #}

<div id="focus">
    <div class="photo">
        <ul id="tupian">
            {% for focus in data.index_focus %}
                <li {% ifequal forloop.counter 1 %}class="cur" {% endifequal %}data-id="{{ focus.movie_id }}">
                    <img alt="{{ focus.content }}" src="{{ focus.movie_img }}" />
                </li>
            {% endfor %}
        </ul>
        <span class="slider" id="prev"></span>
        <span class="slider" id="next"></span>
    </div>
    <div class="carousel-indicators">
        <ul id="touch-slider">
            {% for focus in data.index_focus %}
                <li {% ifequal forloop.counter 1 %}class="cur" {% endifequal %}></li>
            {% endfor %}
        </ul>
    </div>
</div>
<script type="text/javascript" charset="utf-8">
    $("#tupian li").click(function () {
        let data_id = $("#focus [class=cur]")[0].dataset.id;
        window.open("movie.html?id="+data_id.split(" - ")[0],'_blank');
    })

        //焦点图轮播特效
    $( document ).ready(function(){
        var focus=document.getElementById("focus");
        var prev=document.getElementById("prev");
        var next=document.getElementById("next");
        var tupian=document.getElementById("tupian").getElementsByTagName("li");
        var slider=document.getElementById("touch-slider").getElementsByTagName("li");
        var imgs=document.getElementById("tupian").getElementsByTagName("img");
        var nowing=0;
        var time=0;
        window.clearInterval(time);
        time=window.setInterval(dong,3000);

        {#鼠标停留#}
        focus.onmouseover=function(){
            window.clearInterval(time);
        }

        {#鼠标移出#}
        focus.onmouseout=function(){
            window.clearInterval(time);
            time=window.setInterval(dong,3000);
        }

        {#点击切换图片#}
        next.onclick=dong;
        function dong(){
            if(nowing<tupian.length-1){
                nowing++;
            }else{
                nowing=0;
            }
            sliders();
            sliderli();
        }
        prev.onclick=function(){
            if(nowing>0){
                nowing--;
            }else{
                nowing=tupian.length-1;
            }
            sliders();
            sliderli();
        }

        {#到时间自动播放下一张#}
        for(var i=0;i<=slider.length-1;i++){
            slider[i].index=i;
            slider[i].onclick=function(){
                nowing=this.index;
                sliders();
                sliderli();
            }
        }

        function sliders(){
            for(var i=0;i<=tupian.length-1;i++){
                tupian[i].className="";
            }
            tupian[nowing].className="cur";
        }

        function sliderli(){
            for(var i=0;i<=tupian.length-1;i++){
                slider[i].className="";
            }
            slider[nowing].className="cur";
        }
    });
</script>