<footer>
    <div>
        <a href="https://github.com/xingyitong1/MoviePlatform">Github项目主页</a>
    </div>
    <p>友情链接：
        <a href="http://www.swu.edu.cn">西南大学</a>
        <a href="http://www.hwadee.com/">| 华迪信息 </a>
        <a href="http://www.mtime.com/">| Mtime时光网 </a>
    </p>
    <p>Copyright © 2024 未来富豪高级养成会所有限公司 All Rights Reserved</p>
    <div id="btn_top">
        <a><img src="/static/images/scrollup.png" alt="返回顶部" /></a>
    </div>
</footer>

<script src="/static/js/footer.js" type="text/javascript" charset="utf-8"></script>